<div class="top">
  <div class="top_main">
    <div class="logo_quyu">
	<div class="logo"><a href="#"><img src="{IMG_PATH}online/logo.jpg" /></a></div>
	<div class="kuang"></div>
	<div class="biaoyu"><img src="{IMG_PATH}online/biaoyu.jpg" /></div>
	</div>
    <div class="dianhua_quyu">
	  <div class="zhuce">
	    <ul>
			<li><a href="index.php?m=member&c=index&a=login">登录</a> |</li>
			<li><a href="index.php?m=member&c=index&a=register&siteid=1">注册</a> |</li>
			
		</ul>
	  </div>
	  <div class="dianhua"><img src="{IMG_PATH}online/dianhua.jpg" /></div>
	</div>
  </div>
</div>
<div class="dh">
  <div class="dh_main">
    <ul>
	  <li class="wu"><a href="{APP_PATH}index.php">首页</a></li>
	  <li {if $catid==18}class="dh_mainss"{/if}><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=18" >初始向导</a></li>
	  <li {if $catid==17}class="dh_mainss"{/if}><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=17" >会话套餐</a></li>
	  <li {if $catid==10}class="dh_mainss"{/if}><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=10"  >讲师阵营</a></li>
	  <li {if $catid==15}class="dh_mainss"{/if}><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=15" >简单预约</a></li>
	 <li {if $catid==29}class="dh_mainss"{/if}><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=29" >教材一览</a></li>
	 <li {if $catid==24}class="dh_mainss"{/if}><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=24" >关于我们</a></li>
	 
	</ul>
	  </div>
</div>