<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>英语在线</title>

<link href="{CSS_PATH}online/style.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}online/lrtk.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}online/index_solid.js"></script>
<script type="text/javascript" src="{JS_PATH}online/texiao.js"></script>



<script>
function change(0)
{
 for(h=0;h<6;h++){
 document.getElementById("cia"+h).className='dh_main'
 document.getElementById("cia"+x).className='dh_mainss'
 }
}
</script>
</head>
<body>



<div class="top">
  <div class="top_main">
    <div class="logo_quyu">
	<div class="logo"><a href="#"><img src="{IMG_PATH}online/logo.jpg" /></a></div>
	<div class="kuang"></div>
	<div class="biaoyu"><img src="{IMG_PATH}online/biaoyu.jpg" /></div>
	</div>
    <div class="dianhua_quyu">
	  <div class="zhuce">
	    <ul>
		<li><a href="index.php?m=member&c=index&a=login">登录</a> |</li>
		<li><a href="index.php?m=member&c=index&a=register&siteid=1">注册</a> |</li>
		
		</ul>
	  </div>
	  <div class="dianhua"><img src="{IMG_PATH}online/dianhua.jpg" /></div>
	</div>
  </div>
</div>

<div class="dh">
  <div class="dh_main">
    <ul>
	  <li class="dh_mainss"><a href="{APP_PATH}index.php" id="cia0" onclick="change(0)">首页</a></li>
	  <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=18" id="cia1" onclick="change(1)">初始向导</a></li>
	  <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=17" id="cia2" onclick="change(2)">会话套餐</a></li>
	  <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=10" id="cia3" onclick="change(3)">讲师阵营</a></li>
	  <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=15" id="cia4" onclick="change(4)">简单预约</a></li>
	 <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=29" id="cia5" onclick="change(5)">教材一览</a></li>
	 <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=24" id="cia6" onclick="change(6)">关于我们</a></li>
	 
	</ul>
	<a><img src="{IMG_PATH}online/rss.jpg" /></a>
	<div class="yuyue"><a href="index.php?m=content&c=index&a=lists&catid=15"><img src="{IMG_PATH}online/yuyue.jpg" /></a></div>
  </div>
</div>
<div class="banner">
<DIV id=banner>
<DIV id=ifocus>
<DIV style="OVERFLOW: hidden" id=ifocus_pic>
<DIV style="OVERFLOW: hidden; TOP: 0px; LEFT: 0px" id=ifocus_piclist>
<UL><!--大图_start -->
  <LI><A href="index.php?m=member&c=index&a=register&siteid=1" 
  target=_blank><IMG border=0 src="{IMG_PATH}1.jpg"></A> </LI>
  <LI><A href="index.php?m=member&c=index&a=register&siteid=1" 
  target=_blank><IMG border=0 src="{IMG_PATH}2.jpg"></A> </LI>
  <LI><A href="index.php?m=content&c=index&a=lists&catid=10" 
  target=_blank><IMG border=0 src="{IMG_PATH}3.jpg"></A> </LI>
  <LI><A href="index.php?m=content&c=index&a=lists&catid=15" 
  target=_blank><IMG border=0 src="{IMG_PATH}4.jpg"></A> </LI>
  <LI><A href="index.php?m=content&c=index&a=lists&catid=15" 
  target=_blank><IMG border=0 src="{IMG_PATH}5.jpg"></A> <!--大图_end --></LI></UL>
</DIV>
<DIV id=ifocus_opdiv></DIV>
<DIV id=ifocus_tx>
<UL><!--小图列表_start -->
  <LI class=current>
  <LI class=normal>
  <LI class=normal>
  <LI class=normal>
  <LI class=normal><!--小图列表_end --></LI></UL></DIV>
<DIV id=ifocus_btn>
<UL><!--小图_start -->
  <LI class=current><IMG border=0 src="{IMG_PATH}1.jpg"> </LI>
  <LI class=normal><IMG border=0 src="{IMG_PATH}2.jpg"> </LI>
  <LI class=normal><IMG border=0 src="{IMG_PATH}3.jpg"> </LI>
  <LI class=normal><IMG border=0 src="{IMG_PATH}4.jpg"> </LI>
  <LI class=normal><IMG border=0 src="{IMG_PATH}5.jpg"> <!--小图_end --></LI></UL>
</DIV></DIV></DIV></DIV>

</div>
<div class="main">
  <div class="main_left">
  
  <a href="index.php?m=content&c=index&a=lists&catid=30"><img src="{IMG_PATH}online/anniu11.jpg" /></a>
<a href="index.php?m=content&c=index&a=lists&catid=10"><img src="{IMG_PATH}online/anniu_13.jpg" /></a>
  <br />
  <a href="index.php?m=content&c=index&a=lists&catid=17"><img src="{IMG_PATH}online/anniu12.jpg" /></a>  
 <a href="#"> <img src="{IMG_PATH}online/anniu_14.jpg" /></a>
  </div>
  <div class="main_zhong">
    <div class="tit1"><span><a href="index.php?m=content&c=index&a=lists&catid=6">新闻中心</a><h1>NEWS</h1></span>
	<span class="more"><a href="index.php?m=content&c=index&a=lists&catid=6">查看更多>></a></span></div>
	
	<ul>
	{pc:content  action="lists" catid="6" order="id DESC" num="5"}
	{loop $data $key $val}
	  		
			<li><img src="{IMG_PATH}online/liebiao.jpg" />
				<a href="{$val[url]}" title="{$val[title]}">{str_cut($val[title],40,"")}</a>  {date('Y-m-d',$val[inputtime])}
			</li>
	 {/loop}
	 {/pc}
	</ul>
  </div>
  <div class="main_right">
 

  <div class="quyu_right1">
    <div class="quyu_right_tit1">登录</div>
   <div class="content" >
    <form method="post" action="{APP_PATH}index.php?m=member&c=index&a=login"  onsubmit="save_username();" id="myform" name="myform">
		<input type="hidden" name="forward" id="forward" value="{$forward}">
      用户名：
      <input type="text" id="username" name="username"  class="denglu"/>
      <br />
      密　码：
      <input type="password" id="password" name="password"  class="denglu"/>
      <br />
	 <span style="float:left; margin-left:40px;"> 验证码： <input type="text" id="code" name="code" size="5" class="input-text"></span>
	   <span style="float:left; padding-top:8px;"> <img id='code_img' onclick='this.src=this.src+"&"+Math.random()' src='{APP_PATH}api.php?op=checkcode&code_len=4&font_size=14&width=70&height=24&font_color=&background='>	
	   </span>
	   <br />
     
      <input type="submit" name="dosubmit" id="dosubmit"  class="dl_anniu1" value="用户登录" />
	   <a href="index.php?m=member&c=index&a=public_forget_password&siteid=1">忘记密码?</a>
      <br />
      <input onclick="window.location.href='{APP_PATH}index.php?m=member&c=index&a=register&siteid=1'" type="button" class="dl_zhuce1" value="新用户注册！" />
    </form>
	
 
	
   </div>
  
  </div>
</div>
</div>
{template "content","footer_s"}
</body>
</html>