<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>英语在线</title>
<link href="{CSS_PATH}online/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
{template "content","header_s"}

<div class="quyu_2">
  <div class="quyu2_left">
    <div class="quyu2_left_tit"><span><a>讲师列表</a></span></div>
 
{pc:get sql="SELECT * FROM v9_linkage a, v9_member b,v9_member_jiangs c where  b.userid=c.userid and b.modelid=12 and c.wenp=a.linkageid and b.islook = 0" return="datas" num="10"  page="$page" order="listorder DESC"} 
{loop $datas $key $val} 
    <div class="jiangshi">
      <div class="jiangshi_pic">
	  <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=10&shows=is&uid={$val[userid]}">
	  <img src="{get_memberavatar($val['phpssouid'], '', 180)}" width="140" height="140" />
	  </a></div>
      <div class="jieshao"> 
	  <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=10&shows=is&uid={$val[userid]}">{$val[nickname]}</a> 
	  <br />
        资历：{$val[zili]}<br />
        文凭：{$val[name]}<br />
        简介：{str_cut($val[jianjie],50,"")}
		<br />
		
		</div>
    </div>
 
	
   {/loop}
{/pc}	
	

   
   
    <div class="yema">{$pages}
    </div>
  </div>
  {template "content","right_content"}
  </div>
</div>
{template "content","footer_s"}
</body>
</html>
