<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>英语在线</title>

<link href="{CSS_PATH}online/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}online/texiao.js"></script>

</head>
<body>
{template "content","header_s"}
<div class="quyu_1">
  <div class="quyu_left"><img src="{IMG_PATH}online/qun.jpg" /></div>
  <div class="quyu_right">
    <div class="quyu_right_tit"><a href="#" onmouseover="xw(1)" id="a1">学员登录</a><a href="#" onmouseover="xw(2)" id="a2">讲师登录</a></div>
   <div class="content" id="content1">
   <form name="form" action="" method="post">
      用户名：
      <input name="" type="text"  class="denglu"/>
      <br />
      密　码：
      <input name="" type="text"  class="denglu"/>
      <br />
      <a href="#">忘记密码?</a>
      <input name="用户登录" type="submit" class="dl_anniu" value="用户登录" />
      <br />
      <input name="新用户注册！" type="submit" class="dl_zhuce" value="新用户注册！" />
    </form>
   </div>
    <div class="content" id="content2" style="display:none;">
 <form name="form" action="" method="post">
      用户名：
      <input name="" type="text"  class="denglu"/>
      <br />
      密　码：
      <input name="" type="text"  class="denglu"/>
      <br />
      <a href="#">忘记密码?</a>
      <input name="用户登录" type="submit" class="dl_anniu" value="用户登录" />
      <br />
      <input name="新用户注册！" type="submit" class="dl_zhuce" value="新用户注册！" />
    </form>
   </div>
  </div>
</div>
<div class="quyu_2">
  <div class="quyu2_left">
    <div class="quyu2_left_tit"><span><a href="#">初始向导</a></span></div>
   <div style="width:635px; margin:0 auto; margin-top:10px; color:#757575; line-height:1.8em;">
 <img src="{IMG_PATH}online/xd_buzhou.jpg" /> <br /><br />
<p>※ 我们提供一次<span class="STYLE1">完全免费</span>体验课程的机会，只要注册就可以体验（不要任何费用）<br />
※ 老师在首次免费体验后完成对学生的评估，并针对其弱点量身打造强化课程<br />
※ 您觉得满意后再购买我们的课程 <br /><br /></p>
<img src="{IMG_PATH}online/xd_001.jpg" /><br /><br />
<p>1. 输入您注册的邮件地址和密码，登陆英语在线<br />
2. 登陆后，点击“预约课程”就可以进行预约<br />
3. 选择您喜欢的老师和想预约的时间，然后“点击预约”<br />
4. 点击确认按钮完成预约，我们会给您注册的信箱发送预约完成的邮件<br />
5.在MYPAGE可以确认你的预约的老师和上课时间<br /><p>
<img src="{IMG_PATH}online/xd_003.jpg" /><br /><br />
<img src="{IMG_PATH}online/xd_002.jpg" /><br /><br />
<p>1.请确保在上课前，提前15分钟登录Skype，我们的老师会提前添加您为联系人，请务必将我们的老师加为您的联系人以确保可以正常上课<br />
2.上课前请务必检查您的话筒是否正常工作,(Skype联系人里有自动测试语音系统，您可以自己测试一下)，然后等待老师拨打您的Skype<br />
3.老师呼叫您后，点击“应答”便可以开始上课了<br /></p><br />
<img src="{IMG_PATH}online/xd_004.jpg" />
   </div> 
  </div>
  <div class="quyu2_right">
    <div class="jiangshi_newstext">
      <div class="newstext_tit"><span><a href="#">师资介绍</a></span><span class="js_more"><a href="#">more</a></span></div>
      <p>　　菲律宾是除英，美外世界第三大英语国家，也是亚洲说英语最好的国家。 在菲律宾从幼儿园到大学，人们把英语作为正式语言来学习，每天有24种报纸用英文发行，并且电视和广播有很多英文频道。因为没有语言障碍，好莱坞电影在菲律宾与美国能同期上映。<br />
　　
E口语的外教都来自菲律宾最优秀...         </p>
    </div>
    <div class="jiangshi_xinwe">
      <div class="newstext_tit"><span><a href="#">常见问题</a></span><span class="js_more"><a href="#">more</a></span></div>
      <ul>
        <li><a href="#">常见问题常见问题</a></li>
        <li><a href="#">常见问题常见问题</a></li>
        <li><a href="#">常见问题常见问题</a></li>
        <li><a href="#">常见问题常见问题</a></li>
        <li><a href="#">常见问题常见问题</a></li>
        <li><a href="#">常见问题常见问题</a></li>
	<li><a href="#">常见问题常见问题</a></li>
        <li><a href="#">常见问题常见问题</a></li>
        <li><a href="#">常见问题常见问题</a></li>
        <li><a href="#">常见问题常见问题</a></li>
      </ul>
    </div>
	<div class="quyu_right" style="margin-top:10px;">
    <div class="newstext_tit"><span><a href="#">联系我们</a></span></div>
    <div class="dizhi">
	英语在线<br />
邮编：100085<br />
王经理：1888888888<br />
郝经理：1888888888<br />
邮箱：123456789@qq.com<br />
王经理QQ:825910014<br />
地址：海淀区中关村东路东升大厦C座236
    </div>
  </div>
  </div>
</div>
{template "content","footer_s"}

</body>
</html>
