<div id="footercon">
         <div id="footer">
             <div class="footernav">
                <dl class="intro">
                    <dt>课程介绍</dt>
                    <dd><a href="#">教育理念</a><span>|</span></dd>
                    <dd><a href="#">课程体系</a><span>|</span></dd>
                    <dd><a href="#">课程体验</a><span>|</span></dd>
                    <dd><a href="#">教学成果</a><span>|</span></dd>
                    <dd><a href="#">师资团队</a></dd>
                </dl>
                <dl>
                    <dt>辅助导航</dt>
                    <dd><a href="#">加入我们</a><span>|</span></dd>
                    <dd><a href="#">授权加盟</a><span>|</span></dd>
                    <dd><a href="#">联系我们</a><span>|</span></dd>
                    <dd><a href="#">法律声明</a><span>|</span></dd>
                    <dd><a href="#" target="_blank">直播课堂</a></dd>
                </dl>
                <div class="clear"></div>
                <p>Copyright © 2010 FIRST LEAP All Rights Reserved 京ICP备09036231号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>             
             </div>
            <div class="about"><h2>关于英语在线</h2><a href="#">在线英语致力于利用网络提供全英文综合能力培训课程，英文释义"English 0nline"意在为顾客提供高..</a></div>
             <div class="clear"></div>
        </div>
    </div>
</body>
</html>