<div class="home_main">
    <div class="home_main_left">
       
	    <div class="home_kuai">
		
            <div class="home_tit">个人信息</div>
            <ul class="green">
                <li><a href="index.php?m=member&c=index&a=account_manage_info&t=1">修改个人信息</a></li>
                <li><a href="index.php?m=member&c=index&a=account_manage_avatar&t=1">修改头像</a></li>
               
                <li><a href="index.php?m=member&c=index&a=account_manage_password&t=1">修改邮箱密码</a></li>
            </ul>
        </div>
		
		
        <div class="home_kuai" style="margin-top:8px;">
            <div class="home_tit">上课情况</div>
            <ul class="kecheng">
                <li><a href="index.php?m=member&c=content&a=published&jl=1">预约记录</a></li>
                <li><a href="index.php?m=member&c=content&a=published&pl=1">课程评价</a></li>
                <li><a href="index.php?m=member&c=index&a=favorite&t=2">收藏夹</a></li>
				{if $memberinfo['groupid']==4}
				 <li><a href="index.php?m=member&c=content&a=published">创建课程</a></li>
				{/if}
            </ul>
        </div>
        <div class="home_kuai" style="margin-top:8px;">
            <div class="home_tit">账户管理</div>
            <ul class="kecheng">
                <li><a href="#">我的账户</a></li>
                <li><a href="index.php?m=pay&c=deposit&a=pay">会员充值</a></li>
                <li><a href="#">余额查询</a></li>
                <li><a href="index.php?m=pay&c=spend_list&a=init">消费记录</a></li>
            </ul>
        </div>
    </div>
	
    <div  class="home_main_right">
        <div class="home_kuai_r">
            <div class="home_r_top">
                <div  class="home_tit_r">会员中心</div>
                <div class="home_touxiang">
				<a title="{L('modify').L('avatar')}" href="index.php?m=member&c=index&a=account_manage_avatar&t=1">
				<img src="{get_memberavatar($memberinfo['phpssouid'], '', 180)}" width="109" height="114" >
				</a>
				
				</div>
                <div  class="home_r_top_r">
                    <div  class="home_yonghu">
					用户名:<font>
					{if $memberinfo['nickname']} {$memberinfo['nickname']} {else} {$memberinfo['username']}{/if}
					</font></div>
                    <div class="top1">
					<ul>
					{pc:get sql="SELECT *FROM `v9_member` WHERE username  = '$memberinfo[username]' " order="listorder DESC" return="datan"} 
						{loop $datan $key $val}
							
							<li style="width:200px; margin-right:50px;">注册时间：{date('Y-m-d H:i:s',$val[regdate])}</li>
						
							 <li>上次登录时间：{date('Y-m-d H:i:s',$val[lastdate])}</li>
					 	
						{/loop}
					 {/pc} 
					 
					 </ul>
					</div>
                  
						<div class="top2">
							<ul>
							<li style="margin-left:10px;"> 收件箱：</li>
							<li><a href="index.php?m=message&c=index&a=inbox"><img src="{IMG_PATH}online/youjian.jpg" />
							{pc:get sql="SELECT *FROM `v9_message` WHERE send_to_id = '$memberinfo[username]' " return="datan"} 											
							{/pc} 
								{php echo count($datan);}
							</a></li>
							<li style="width:170px;">&nbsp;</li>
							<li>未读邮件：</li>
							<li><a href="index.php?m=message&c=index&a=inbox"><img src="{IMG_PATH}online/shoujian.jpg" /></a></li>
							<li>
							{pc:get sql="SELECT *FROM `v9_message` WHERE send_to_id = '$memberinfo[username]' and status=1" return="datan"} 											
							{/pc} 
								{php echo count($datan);}
							</li>						
							</ul>
						</div>
						<div class="top2">
							<ul>
								<li style="margin:10px;">
{pc:get sql="SELECT *FROM  v9_kecheng_data a,v9_member b WHERE   b.username = '$memberinfo[username]' and a.come_id=b.userid and a.is_yuyue=2" return="datan"} 

{if $memberinfo['groupid']==4}	
	<!-- 老师 -->	
{pc:get sql="SELECT * FROM v9_kecheng_data a,v9_member b,v9_kecheng c WHERE  c.username = '$memberinfo[username]' and b.userid='$memberinfo[userid]' and a.id=c.id and a.is_yuyue=2" return="datan"} 	
										
{/if}							
{/pc} 

 {pc:get sql="SELECT * FROM v9_comment_data_1 a,v9_member b WHERE b.userid='$memberinfo[userid]' and a.userid='$memberinfo[userid]'" return="clanum"}
 {/pc}

                                    
								您有 <font color="#FF0000">{php echo count($datan);} </font>  条预约
								 <a href="index.php?m=member&c=content&a=published&jl=1"> 点击查看</a>								 
								 {if $memberinfo['modelid']==12}
									 您已上 <font color="#FF0000">{php echo count($clanum);} </font>  节
								 {/if}
								</li>
							</ul>
						</div>
                </div>
            </div>